@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Unbounded:wght@200..900&display=swap&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --font-mono: 'Roboto Mono', monospace;
}

* {
  box-sizing: border-box;
}

.container-class {
  @apply container mx-auto my-16 lg:my-20 px-6 lg:px-16 lg:py-13
}

@layer utilities {
  .rounded-custom {
    border-radius: 20px;
  }
}

@theme {
  --font-unbounded: "Unbounded", sans-serif;
  --font-inter: "Inter", sans-serif;
  --font-montserrat: "Montserrat", sans-serif;


  --color-back: var(--back);

  --color-primary: #CCFE00;
  --color-greenBG: #F4FECD;
  --color-blueBG: #CCD7F7;
  --color-hover: #DBFF48;
  --color-background: var(--background);
  --color-label: var(--label);
  --color-hoverText: var(--hoverText);


  /* active */
  --color-cityHover: var(--cityHover);
  /* Input BG */
  --color-inputBG: var(--inputBG);
  --color-heroBG: var(--heroBG);
  --color-link: var(--link);
}

:root {
  --background: #F3F4F4;
  --heroBG: var(--color-gray-950);
  --back: #fff;
  --label: #12121266;
  --hoverText: #121212;
  --cityHover: var(--color-gray-200);
  --inputBG: #fff;
  --link: #121212;
}

.dark {
  --background: #2C2C2C;
  --heroBG: #2c2c2c;
  --back: #121212;
  --label: #fff;
  --hoverText: #CCFE00;
  --cityHover: #444;
  --inputBG: #242424;
  --link: #fff;
}

h2 {
  @apply font-unbounded text-4xl pb-12 text-center;
}

/* Headings */
.payload-richtext h1 {
  @apply text-6xl font-unbounded leading-tight mt-8 mb-6 scroll-mt-[100px];
}

.payload-richtext h2 {
  @apply text-3xl leading-tight font-semibold mt-8 mb-5 scroll-mt-[100px];
}

.payload-richtext h3 {
  @apply text-2xl leading-snug font-semibold mt-7 mb-4 scroll-mt-[100px];
}

.payload-richtext h4 {
  @apply text-xl leading-snug font-semibold mt-6 mb-4 scroll-mt-[100px];
}

.payload-richtext h5 {
  @apply text-lg leading-normal font-semibold mt-5 mb-3 scroll-mt-[100px];
}

.payload-richtext h6 {
  @apply text-base leading-normal font-semibold mt-4 mb-3 scroll-mt-[100px];
}

.payload-richtext p {
  @apply text-lg md:text-2xl font-light;
}

.adv-richtext h6 {
  @apply font-unbounded font-normal; 
}

.adv-richtext p {
  @apply text-base font-normal text-black/80; /* Or use rem like 1rem */
}
